.main {
	width: 100%;

	min-height: 100vh;
	background-color: #0d0622;
	display: flex;
	align-items: center;
	justify-content: center;

	#contentWrapper {
		position: relative;
		width: 95%;
		#animationWrapper {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			// background-color: rgba($color: #004400, $alpha: 0.7);
			pointer-events: none;

			#testBlock {
				display: inline-block;
				width: 40px;
				height: 30px;
				background-color: red;
			}

			.testText {
				pointer-events: auto;
				display: inline-block;
				font-size: 23px;
				color: #fff;

				// padding-top: 50px;
				margin-top: 50px;
				background-color: transparent;

				&.playing {
					border: 0;
				}
			}
		}
	}

	video {
		max-width: 100%;
		width: 100%;
	}
}
